@import url("/public/views/shared/components/search-bar/css/search-bar.css");
.arrow {
    border: solid var(--mainTextColor);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 6px;

}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg) translateY(-40%);
    -webkit-transform: rotate(45deg) translateY(-40%);
}
.header{
    display: grid;
    grid-template:
            "logo . search notifications person" 1fr
            / 3fr 2fr 4fr 1fr 2fr;
    align-items: center;


    color: var(--mainTextColor);
}
@media screen and (max-width: 576px) {
    .header{
        grid-template:
            "logo . notifications person" 1fr
            / 2fr 1fr 1fr 2fr;
    }
}
.logo{
    grid-area: logo;
    justify-self: start;

    font-size: 30px;
    line-height: 36px;
}
.search-bar{
    grid-area: search;
}

@media screen and (max-width: 576px){
    .search-bar{
        display: none;
    }
}
.notifications{
    grid-area: notifications;
    justify-self: center;
    display: grid;

}
.person{
    grid-area: person;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;

}
.person__name{
    text-align: center;
}

.menu{
    position: relative;

}
.menu:hover{
    cursor: pointer;
}
.menu__dropdown{
    position: absolute;
    width: 160px;
    top: 158%;
    right: 0%;

    display: none;
    padding: 30px 0px 10px 0px;

    background-color: var(--mainBackgroundColor);
}

.dropdown__elem{
    padding: 8px 30px;
    color: var(--mainTextColor);
}
.dropdown__elem:hover{
    background-color: #fff;
    color: black;
}
.close{
    width: 30px;
    height: 30px;
    padding: 5px;

    background-color: var(--mainBackgroundColor);
    background-image: url("/public/img/icons/cross.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.dropdown__close{
    position: absolute;
    left: 0;
    top: 0;


}
.close:hover{
    background-color: red;
}