<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/login.css">
    <title>login</title>
</head>
<body>
    <canvas id="canvas"></canvas>
    
    <div class="container login-page">


        <div class="logo login-page__logo">
            <div class="logo-title">DailyRepo</div>
            <!-- /.logo-title -->
            <img class="logo-img" src="/public/img/emojione_open-book.svg" alt="open book picture">
        </div>
        <!-- /.login-logo -->


        <div class="form login-page__form">
            <form action="#" method="post">
                <fieldset class="form__inputs">
                    <legend>Login</legend>
                    <div class="form__input-wrapper">
                        <input type="email" name="login" id="login" placeholder="email">
                    </div>
                    <!-- /.form-input-wrapper -->
                    <div class="form__input-wrapper">
                        <input type="password" name="password" id="password" placeholder="password">
                    </div>
                    <!-- /.form-input-wrapper -->
                </fieldset>
                <a href="#" class="form__link">forgot your password?</a>
                <fieldset class="form__controls">
                    <a class="form__button form__button-o" href="#">Register</a>
                    <button class="form__button" type="submit">Sign in</button>
                </fieldset>
            </form>
        </div>
        <!-- /.login-form -->

    </div>
    <!-- /.container -->
    <script src="/public/scripts/bganim.js"></script>
</body>
</html>