:root{
    --mainBackgroundColor: #232323;
    --mainTextColor: #ffffff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
img{
    display: block;
    max-width: 100%;
    min-width: 30px;
}
fieldset{
    border: none;
    margin: 0;
    padding: 0;
}
input:focus{
    outline: none;
}
button{
    border: none;
    outline: none;
    background-color: transparent;
}
figure,figcaption{
    display: block;
}
html{
    width: 100vw;

}
html,body{
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1160px;
    margin: 0 auto;
}
header, nav {
    background-color: var(--mainBackgroundColor);
}

header {
    position: relative;
    z-index: 2;
}

nav {
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
}
.logo{
    justify-self: start;
}
h1{
    font-size: 48px;
    line-height: 24px;
    margin: 0;
}
section{
    padding: 30px 0px;
    border-top: 2px solid black;

}