:root{
    --mainBackgroundColor: #232323;
    --mainTextColor: #ffffff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
img{
    display: block;
    max-width: 100%;
}
fieldset{
    border: none;
    margin: 0;
    padding: 0;
}
input:focus{
    outline: none;
}
button{
    border: none;
    outline: none;
}
figure,figcaption{
    display: block;
}
html,body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1160px;
    margin: 0 auto;
}
