.book-entity__cover{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

    width: 70vw;
    height: 90vh;
    margin: 0 auto;
    padding: 20px;

    border-radius: 5px;
    background-color: #A47454;
}
.book-entity__content{
    column-count: 2;
    column-fill: auto;
    column-rule: 1px solid black;
    overflow: auto;

    height: 100%;
    padding: 20px;

    background-color: #fff;
}
.book-entity__content h1{
    display: block;
    font-size: 2em;
    margin: 0.67em 0;
    font-weight: bold;
}
.book-entity__content i{
    font-style: italic;
}
.book-entity__content h2{
    display: block;
    font-size: 1.5em;
    margin: 0.83em 0;
    font-weight: bold;
}
.book-entity__content h3{
    display: block;
    font-size: 1.17em;
    margin: 1em 0;
    font-weight: bold;
}
.book-entity__content h4{
    display: block;
    margin: 1.33em 0;
    font-weight: bold;
}
.book-entity__content h5{
    display: block;
    font-size: .83em;
    margin: 1.67em 0;
    font-weight: bold;
}
.book-entity__content h6{
    display: block;
    font-size: .67em;
    margin: 2.33em 0;
    font-weight: bold;
}
.book-entity__content ul{
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}
.book-entity__content ol{
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}
.book-entity__content a{
    color: blue;
    text-decoration: underline;
    cursor: auto;
}