@import url("/public/views/shared/css/reset.css");
@import url("/public/views/shared/css/normalize.css");
@import url("/public/views/shared/css/main.css");
@import url("/public/views/shared/components/logo/css/logo.css");
@import url("/public/views/shared/components/header/css/header.css");
@import url("/public/views/shared/components/nav/css/nav.css");
@import url("/public/views/shared/components/bookshelf/css/bookshelf.css");
@import url("/public/views/shared/components/overlay/css/overlay.css");
@import url("/public/views/shared/css/main-adaptive.css");

section{
    border-top: none;
}
h1{
    margin-bottom: 50px;
}
.diaries{
    display: flex;
    align-items: center;
}
.more{
    background: black;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
}
.more:hover{
    border: 1px solid black;
    background-color: white;
    color: black;
}
