@import "common.css";
.login-page{
    grid-area: content;
    z-index: 1;

    display: grid;
    grid-template:
            "logo form" 1fr /
            1fr 1fr;
    align-items: center;

}

.login-page__form{
    grid-area: form;

    max-width: 565px;

    text-transform: uppercase;
    font-family: sans-serif;
    color: #949494;

    background-color: transparent;
}
form{
    background-color: #ffffff;
    padding-top: 35px;
}
fieldset{
    padding: 0 40px;
}






.form__controls{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;

}

.form__button:last-child{
    text-align: right;

    background: #4D4D4D;
    border: 0;
}

.form__button-o{
    display: grid;
    align-items: center;
}
