.register-page{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(12,1fr);
    align-items: center;
    height: 100vh;
}

.register-page__form{
    grid-column: 7/13;
    padding-top: 35px;
    height: 100%;
    display: grid;
    align-items: center;

    text-transform: uppercase;
    font-family: sans-serif;
    color: #949494;

    background-color: #fff;
}

fieldset{
    padding: 0px 70px;
    text-align: center;
}

legend{
    margin-bottom: 20px;

    font-size: 48px;
}
.form__input-wrapper{
    position: relative;

    margin-bottom: 30px;

    border: 3px solid transparent;
    border-bottom-color: #949494;
}
.form__input-wrapper:last-of-type{
    margin-bottom: 40px;
}
.form__input-wrapper::before,.form__input-wrapper::after{
    content: "";

    position: absolute;
    bottom: -7px;
    left: -1px;
    transform: rotate(45deg);
    z-index: 1;

    height: 10px;
    width: 10px;

    background-color: #949494;
}
.form__input-wrapper::after{
    left: 100%;
}
input{
    position: relative;

    display: block;
    width: 100%;
    padding: 3px 15px;

    border: none;
}
input:focus{
    outline: none;
}
input::placeholder{
    text-transform: uppercase;
}
.form__link{
    display: block;
    margin-bottom: 36px;

    text-align: center;
    color: #949494;
    font-size: 18px;
}
.form__controls{
    display: grid;
    grid-auto-flow: column;
}
.form__button{
    padding: 4px 15px;


    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;

    border: 0;
}
.form__button-o{

    background: #A47454;
}
