@import "common.css";
.register-page{
    grid-area: content;
    z-index: 1;

    display: grid;
    grid-template:
            "logo form" 1fr /
            1fr 1fr;
    align-items: stretch;

}


.register-page__form{
    grid-area: form;
    display: grid;
    align-items: center;

    text-transform: uppercase;
    font-family: sans-serif;
    color: #949494;

    background-color: #fff;

}
form{
    padding: 0px 70px;
}
fieldset{
    text-align: center;
}








.form__controls{
    display: grid;
    grid-auto-flow: column;
}


