@import url("/public/views/shared/css/normalize.css");
@import url("/public/views/shared/css/main.css");
@import url("/public/views/shared/components/logo/css/logo.css");
@import url("/public/views/shared/components/header/css/header.css");
@import url("/public/views/shared/components/nav/css/nav.css");

header{
    position: relative;
    z-index: 2;
    padding: 25px 0px;

    background-color: var(--mainBackgroundColor);
}
nav{
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;

    padding: 0px 4px;

    background-color: var(--mainBackgroundColor);


}