@import url("/public/views/shared/components/book/css/book.css");

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: none;
    justify-items: center;
    align-items: center;


    background-color: rgba(35, 35, 35, 0.5);
}
.pop-up__book-controls * {
    padding: 4px 34px;

    color: var(--mainTextColor);

    background-color: #232323;
}
.btn-o{
    color: #232323;

    background-color: white;
}

.pop-up{
    width: 50%;
    padding: 20px 30px;

    color: var(--mainTextColor);

    background-color: #A47454;

}
.pop-up__book{
    display: grid;
    grid-template:
            "cover title" 1fr
            "cover controls" 1fr
            / 1fr  4fr;
    grid-gap: 20px;
    margin-bottom: 26px;
}
@media screen and (max-width: 576px){
    .pop-up{
        width: 95%;
    }
    .pop-up__book{
        grid-template:
                "cover title" 1fr
                "controls controls" max-content
                / 1fr 2fr;
    }
    button{
        padding: 4px 28px;
    }
}
.pop-up__book-cover{
    grid-area: cover;
}
.pop-up__book-title{
    grid-area: title;
    display: flex;
    justify-content: space-between;
}
.pop-up__book-controls{
    grid-area: controls;
    align-self: end;
}

.pop-up__book-close{
    background-color: transparent;
}
.pop-up__desc{
    border: 1px solid #ACACA4;
    padding: 5px;
    min-height: 90px;
}
.pop-up__desc h4{
    font-size: 18px;
    line-height: 22px;
    color: #ACACA4;
}
.pop-up__desc p{
    font-size: 14px;
    line-height: 17px;
}
.book-entity{
    display: none;
}
.book-entity__close{
    position: absolute;
    z-index: 10;
    top: 20px;
    right: 20px;

    background-color: transparent;
}
button:hover,.book-entity__close:hover{
    cursor: pointer;
}
.book-entity__edit-panel{
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 5%;
    background-color: var(--mainBackgroundColor);
    color: var(--mainTextColor);
}
